body {
    font-family: Verdana;
    margin: 0px;
}

.header {
    border-bottom: solid 5px black;
    background-color: aqua;
    position: fixed;
    top: 0;
    height: 5em;
    width: 100%;
}

h1 {
    float: left;
    text-align: center;
    padding-left: 60px;
}

.nav {
    float: right;
}

ul {
    margin-top: 29px;
}

li {
    display: inline;
    list-style-type: none;
    text-align: center;
    padding: 20px;
    border-right: 1px solid black;
}

li:last-child {
    border-right: none;
    padding-right: 60px;
}

main {
    margin-left: 2em;
    margin-right: 2em;
}

img {
    margin-top: 5em;
}

main {
    margin-bottom: 5em;
}

.margin {
    margin: 1em;
}

.button {
    margin-left: 1em;
}

.footer {
    background-color: aquamarine;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: solid 5px black;
}
