body {
    font-family: Verdana;
}

.header {
    border-bottom: solid 5px black;
    background-color: aqua;
    position: fixed;
    top: 0;
    height: 4em;
    width: 100%;
}

h1 {
    position: relative;
    bottom: .2em;
}

.nav {
    float: right;
}

ul {
    list-style: none;
    display: inline;
    position: relative;
    bottom: 3.5em;
    padding-right: 1.5em;
}

li {
    display: inline;
}

main {
    margin-left: 2em;
    margin-right: 2em;
}

img {
    margin-top: 5em;
}

main {
    margin-bottom: 5em;
}

.margin {
    margin: 1em;
}

.button {
    margin-left: 1em;
}

.footer {
    background-color: aquamarine;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: solid 5px black;
}
